.cards {
  margin: 6px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px 20px;
  list-style: none;
}

@media all and (max-width: 914px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 616px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


