.reaction {
  padding: 0;
  margin-right: 15px;
  display: block;
  width: 22px;
  height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/heartIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.reaction:hover {
  opacity: 0.5;
}
