.profile__info__title {
  margin: 22px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and (max-width: 914px) {
  .profile__info__title {
    margin-top: 26px;
  }
}
